[MAIN]
disable=invalid-name,
        too-many-public-methods,
        too-few-public-methods,
        too-many-arguments,
        too-many-positional-arguments,
        missing-timeout,
        missing-module-docstring,
